#calendar {font-family:arial; font-size:17px; text-align:center}
#calendar th {background-color:#000000; color:#FFFFFF; text-align:center}
#calendar #week {color:#000000; background:#d7d2d2 url(images/music_calendar_null.gif) repeat-x; height:50px}
#calendar #week a {font-size:34px; text-decoration:none; color:#000000; padding:0 14px 0 14px}
#calendar #center_date {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#595858; margin:0 auto; text-align:center; font-weight:bold}


.green { display:block;text-decoration:none; border:1px solid #dddddd; color:#000; margin:0; padding:0px; width: 85px; height: 88px; background-color:#8EFF8D; text-align: center; line-height: 89px;}
.unavailable {text-decoration:none; border:1px solid #dddddd; color:#000; margin:0; padding:0px; width: 85px; height: 85px; background-color:#C1C1C1; text-align: center; line-height: 89px}
.closed {text-decoration:none; border:1px solid #dddddd; color:#000; margin:0; padding:0px; width: 85px; height: 85px; background-color:#A598DE; text-align: center; line-height: 89px}
.part_booked{display:block;text-decoration:none; border:1px solid #dddddd; color:#000; margin:0; padding:0px; width: 85px; height: 88px; background-color:#FBCE7D; text-align: center; line-height: 89px}
.fully_booked{text-decoration:none; border:1px solid #dddddd; color:#000; margin:0; padding:0px; width: 85px; height: 85px; background-color:#D40000; text-align: center; line-height: 89px}
.past{text-decoration:none; border:1px solid #dddddd; color:#000; margin:0; padding:0px; width: 85px; height: 85px; background-color:#C1C1C1; text-align: center; line-height: 89px}

.green  span {display:none}

.green  span a:hover  {display: block;
   position: absolute;  width: 25px;
   padding: 5px; margin: 10px; z-index: 100;
   color: #AAA; background: black;
   font: 10px Verdana, sans-serif; text-align: center;}

#lhs {float:left} /* Holds both the calendar and the basket */


#outer_booking h2 {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#595858; margin-top:0}
#outer_booking p {font-family: 'Droid Sans', Helvetica, Arial, sans-serif; color:#666666; font-size:14px}
#outer_booking #booking {font-size:80%; border:#CCCCCC 1px solid; border-right:none; border-bottom:none}
#outer_booking #booking th {background:#666666 url("images/booking_grad.jpg") repeat-x; color:#FFFFFF; height:25px; padding-left:5px}
#outer_booking #booking td {border-right:#CCCCCC 1px solid; border-bottom:#CCCCCC 1px solid; padding-left:5px}
#outer_booking span {color:red}
#outer_price {width:200px; float:left; height:22px; margin-top:6px}

#outer_basket {display:none; float:left; font-family: 'Carrois Gothic', sans-serif; padding:25px; margin-top:20px; padding-top:18px; width:450px; background-color:#EEEEEE}
#outer_basket h2 {font-family: 'Droid Serif', Georgia, Times, serif; font-size:22px; color:#595858; margin-top:0}
#outer_basket #selected_slots {width:130px; min-height:20px; font-size:14px; float:left; line-height:1.6em; color:#666666; font-family: 'Droid Serif',Georgia,Times,serif}
#basket_details {float:left; width:200px; height:250px; padding-left:60px; font-family: 'Droid Serif',Georgia,Times,serif; font-size:13px; color:#666666}
#basket_details .text_box {width:200px; margin-bottom:10px}
#basket_details #currency {font-family:arial; float:left; color:purple; font-weight:bold; font-size:23px; padding:0 0 0 0}
#basket_details #total {font-family:arial; width:100px; height:22px; float:left; color:purple; font-weight:bold; font-size:23px; background-color:transparent; border:none}

#btn_book {margin:10px 0 0 320px}

#key {margin-top:25px; width:275px; height:60px; border:#CCCCCC 1px solid; font-family:arial; color:#666666; font-size:11px}
#key td {text-align:center; width:45px}
#key_1 {background-color:#d80000}
#key_2 {background-color:#a295dd}
#key_3 {background-color:#d18800}
#key_4 {background-color:#019500}
#key_5 {background-color:#948e8e}

.input {width:220px}
textarea {width:220px}
form {float:left}
#book {background:transparent url(images/book.png) no-repeat; width:135px; height:32px; border:none; margin-top:5px}
#book:hover {background:transparent url(images/book_mo.png)}
#selected_date {width:288px; height:20px; background-color:#dfeefa; border:#4085d1 1px solid; font-family:arial; font-size:14px; padding:4px 0 4px 10px; color:#4085d1; margin:20px 0 10px 0}


/* Messages */
.info, .error, .success {  
	width:250px;    
    margin:20px 0 0 0;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;    
    font-size:12px; font-weight:bold;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif; 
    line-height:1.2em;
}

.error, .error a {
    color: #D8000C;
    border:#cf0023 1px solid;
    background-color: #FFBABA;
    background-image: url('images/knobs/error.png');
}

.info, .info a {
    color: #00529B;
    border:#294b99 1px solid;
    background-image:url('images/knobs/info.png');
    background-color:#c1e4f8
}

.success, .success a {
    color: #4F8A10;
    border:#528f11 1px solid;
    background-color: #DFF2BF;
    background-image:url('images/knobs/success.png');
}



/* This button was generated using CSSButtonGenerator.com */